@import "globals/vars";
@import "vendor/reset";
@import "globals/globals";
@import "globals/header";
@import "globals/footer";
@import "blocks/hero";
@import "blocks/crafted";
@import "blocks/choose";
@import "blocks/design";
@import "blocks/products";
@import "blocks/swiper";
@import "blocks/blog";



html {
    height: 100%;
    font-size: 62.5%;
    //equivalent 10px//  
    font-family: $ff-primary;
       
}


body{
    height: 100%;
    @import url('http://fonts.cdnfonts.com/css/gotham');
    font-family: 'Gotham','Gotham Black','Gotham Light', 'Gotham Thin', 'Gotham XLight', 'Gotham Book', 'Gotham Ultra',    sans-serif;
    //normalize css
    @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
    background: #EFF2F1;
  
  &.lock {
    overflow: hidden;
  }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;

}
// footer {
//     flex: 0 0 auto;
    
// }
.container {
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 15px;
   
}
.container__inner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

}

   
   
   







