<section class="blog">
    <div class="container__inner">
        <div class="blog__inner">
            <div class="blog__header">
                <h3 class="blog__header-title title">
                    Recent Blog
                </h3>
                <a class="blog__header-link " href="#">View All Posts</a>
            </div>
            <div class="blog__card-wrapper">
                <div class="blog__card">
                    <img src="assets/images/blog1.png" alt="blog" class="blog__card-img">
                    <p class="blog__card-text">First Time Home Owner Ideas
                    </p>
                    <p class="blog__card-subtext">by Nana Ama on Nov 18th, 2022</p>
                </div>
                <div class="blog__card">
                    <img src="assets/images/blog2.png" alt="blog" class="blog__card-img">
                             <p class="blog__card-text">First Time Home Owner Ideas
                    </p>
                    <p class="blog__card-subtext">by Nana Ama on Nov 18th, 2022</p>
                </div>
                <div class="blog__card">
                    <img src="assets/images/blog3.png" alt="blog" class="blog__card-img">
                             <p class="blog__card-text">First Time Home Owner Ideas
                    </p>
                    <p class="blog__card-subtext">by Nana Ama on Nov 18th, 2022</p>
                </div>
            </div>
        </div>
    </div>
</section>