<section class="choose">
    <div class="container">
        <div class="container__inner">
            <div class="choose__inner">
                <div class="choose__content">
                    <h2 class="choose__title title">Why Choose Us</h2>
                    <p class="choose__text text">Donec mattis porta eros, aliquet finibus risus interdum at. Nulla vivethe as it was for us to know what was to be done. the</p>
                    <div class="choose__body">
                        <!-- 1 -->
                        <div class="choose__item">
                            <img src="assets/images/why-1.png" alt="">
                            <p class="choose__subtitle">Fast  & Free Shipping </p>
                            <p class="text">Donec mattis porta eros, aliquet finibus risus interdum at. Nulla vivethe as it was</p>
                        </div>
                           <!-- 2 -->
                           <div class="choose__item">
                            <img src="assets/images/why-2.png" alt="">
                            <p class="choose__subtitle">Fast  & Free Shipping </p>
                            <p class="text">Donec mattis porta eros, aliquet finibus risus interdum at. Nulla vivethe as it was</p>
                        </div>
                           <!-- 3 -->
                           <div class="choose__item">
                            <img src="assets/images/why-3.png" alt="">
                            <p class="choose__subtitle">Fast  & Free Shipping </p>
                            <p class="text">Donec mattis porta eros, aliquet finibus risus interdum at. Nulla vivethe as it was</p>
                        </div>
                           <!-- 4 -->
                           <div class="choose__item">
                            <img src="assets/images/why-4.png" alt="">
                            <p class="choose__subtitle">Fast  & Free Shipping </p>
                            <p class="text">Donec mattis porta eros, aliquet finibus risus interdum at. Nulla vivethe as it was</p>
                        </div>
                    </div>

                </div>
                <div class="choose__image">
                    <img src="assets/images/choose.png" alt="">
                    <img class="choose__dotted" src="assets/images/Dotted.png" alt="">
                </div>
            </div>
        </div>
    </div>

</section>