<section class="crafted">
    <div class="container">
        <div class="container__inner">
            <div class="crafted__inner">
                <div class="crafted__card crafted__card--first">
                    <div class="crafted__title title">
                        Crafted with excellent material.
                    </div>
                    <div class="text">
                        Donec mattis porta eros, aliquet finibus risus interdum at. Nulla vivethe as it was for us to know what was to be done.
                    </div>
                    <div class="crafted__btn-wrapper">
                        <button class="btn btn__dark">Explore</button>
                    </div>

                </div>
             <div class="crafted__card-wrapper">
                <div class="crafted__card">
                    <img class="crafted__img" src="assets/images/chair1.png" alt="">
                    <h4 class="crafted__img-title">Nordic CHAIR</h4>
                    <p class="crafted__price">$50.00</p>
                    
                </div>
                <div class="crafted__card">
                    <img class="crafted__img" src="assets/images/chair2.png" alt="">
                    <h4 class="crafted__img-title">Nordic CHAIR</h4>
                    <p class="crafted__price">$50.00</p>
                    
                </div>
                <div class="crafted__card">
                    <img class="crafted__img" src="assets/images/chair3.png" alt="">
                    <h4 class="crafted__img-title">Nordic CHAIR</h4>
                    <p class="crafted__price">$50.00</p>
                    
                </div>
             </div>

            </div>
        </div>
    </div>
</section>