<section class="design">
    <div class="container">
        <div class="container__inner">
            <div class="design__inner">
                <div class="design__image">
                    <img class="design__image-img" src="assets/images/design.png" alt="">
                    <img class="design__img-top" src="assets/images/design-top.png" alt="">
                    <img class="design__img-bottom" src="assets/images/design-bottom.png" alt="">
                </div>

                <div class="design__content">
                    <h2 class="design__title title">We help  you make 
                        Modern Interior Design   </h2>
                    <p class="design__text text">Donec mattis porta eros, aliquet finibus risus interdum at. Nulla vivethe as it was for us to know what was to be done. the</p>
                    <div class="design__body">
                        <!-- 1 -->
                        <div class="design__item ">
                            <img class="ellipse" src="assets/images/ellipse.png" alt="svg">
                            <p class="text design--text ">Donec mattis porta eros, aliquet finibus risus interdum at. Nulla vivethe as it was</p>
                        </div>
                           <!-- 2 -->
                           <div class="design__item">
                            <p class="text">Donec mattis porta eros, aliquet finibus risus interdum at. Nulla vivethe as it was</p>
                        </div>
                           <!-- 3 -->
                           <div class="design__item">
                            <p class="text">Donec mattis porta eros, aliquet finibus risus interdum at. Nulla vivethe as it was</p>
                        </div>
                           <!-- 4 -->
                           <div class="design__item">
                            <p class="text">Donec mattis porta eros, aliquet finibus risus interdum at. Nulla vivethe as it was</p>
                        </div>
                    </div>
                    <!-- btn -->
                    <div class="btn__wrapper btn__design">
                        <button class="btn btn__dark btn__design">Explore</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>