<section class="hero">
    <div class="container">
        <div class="container__inner">
            <div class="hero__inner">
                <div class="hero__content">
                    <div class="hero__title">
                        Modern Interior Design Studio
                    </div>
                    <div class="btn__wrapper">
                        <button class="btn btn__primary">Shop Now</button>
                        <button class="btn btn__outline">Explore</button>
                    </div>

                </div>
                <div class="hero__image">
                    <img class="hero__img" src="assets/images/couch.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>