<section class="products">
    <div class="container__inner">
        <div class="products__inner">
            <div class="products__card">
                <img src="assets/images/product1.png" alt="">
                <div class="products__body">
                    <h3 class="products__body-title">Nordic Chair</h3>
                    <p class="products__body-text text">Donec mattis porta eros, aliquet finibus risus in. Donecd </p>
                    <p class="products__body-subtext"><a href="#">Read more</a></p>
                </div>
            </div>
            <div class="products__card">
                <img src="assets/images/product2.png" alt="">
                <div class="products__body">
                    <h3 class="products__body-title">Kruzi Aero</h3>
                    <p class="products__body-text text">Donec mattis porta eros, aliquet finibus risus in. Donecd </p>
                    <p class="products__body-subtext"><a href="#">Read more</a></p>
                </div>
            </div>
            <div class="products__card">
                <img src="assets/images/product3.png" alt="">
                <div class="products__body">
                    <h3 class="products__body-title">Ergonomic Chair</h3>
                    <p class="products__body-text text">Donec mattis porta eros, aliquet finibus risus in. Donecd </p>
                    <p class="products__body-subtext"><a href="#">Read more</a></p>
                </div>
            </div>
        </div>

    </div>
</section>