<section class="subscribe">
    <div class="container__inner">
        <div class="subscribe__inner">
            <div class="subscribe__content">
                <img src="assets/images/plane.png"></img>
                <p class="subscribe__title products__body-title">
                    Subscribe to Newsletter
                </p>
                <form action="#" class="subscribe__form">
                    <input name="user__name" type="text" placeholder="Enter your name">
                    <input  name="user__email" type="email" placeholder="Enter your e-mail">
                    <button class="btn__submit" type="submit"> <img src="assets/images/plane.png"></img></button>
                </form>


            </div>
            <div class="subscribe__image">
                <img src="assets/images/sofa.png" alt="">
            </div>

        </div>
    </div>
</section>