.btn {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    border: none;
    padding: 1.1rem 3.7rem;
    border-radius: 30px;
   
}
.btn__primary {
    color: #FFFFFF;
    background: #F9BF29;
    color: #2F2F2F;
    &:hover {
        background: lighten($color: #F9BF29, $amount: 10%);
    }


}
.btn__outline {
    
    color: #fff;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.29);
    &:hover {
       background: darken($color: #fff, $amount: 20%);
    }

}
.btn__dark {
    background: #2F2F2F;
    color: #fff;
    &:hover {
        background: darken($color: #2F2F2F, $amount: 20%);
     }
}
.btn__design {
    margin-top: 3.8rem;
}

.text {
    font-family: $ff-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #6A6A6A;
    
}
.title {
    font-family: $ff-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #2F2F2F;
}