<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__social">
                <img src="assets/images/footer/fb.png" alt="" class="social__icon">
                <img src="assets/images/footer/inst.png" alt="" class="social__icon">
                <img src="assets/images/footer/twit.png" alt="" class="social__icon">
                <img src="assets/images/footer/Linkedin.png" alt="" class="social__icon">
            </div>
            <p class="copy__right">
                Copypight <span>&copy;</span>  All  right reserved
            </p>
        </div>
    </div>
    

 </footer> 
