<!-- Navbar -->
<header class="header">
  <div class="container__inner">
    <div class="header__inner">
        <a class="header__logo" href="#">Furni</a>
        <div class="header__menu menu">
        
          <nav class="menu__body">
              <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link"  href="#">Home</a> </li>
                  <li class="menu__item"><a class="menu__link"  href="#">about us</a> </li>
                  <li class="menu__item"><a class="menu__link"  href="#">Services</a> </li>
                  <li class="menu__item"><a class="menu__link"  href="#">Blog</a> </li>
                  <li class="menu__item"><a class="menu__link"  href="#">Contact us</a> </li>
                
    
              </ul>
              
          </nav>
                  
              <div class="menu__icon">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          
        </div>
    </div>

</header>

    
     