<section class="section_count_number">
  <!-- single number -->
  <article class="article_count_number">
    <span class="number" data-value="500">0</span>
    <p>Succeeded Projects</p>
  </article>
  <!-- end of single number -->
  <!-- single number -->
  <article class="article_count_number">
    <span class="number" data-value="17140">0</span>
    <p>Working Hours Spent</p>
  </article>
  <!-- end of single number -->
  <!-- single number -->
  <article class="article_count_number">
    <span class="number" data-value="1500">0</span>
    <p>Happy Clients</p>
  </article>
  <!-- end of single number -->
</section>